<div class="container padded">
    <h1 class="flow-text mr-bt-50">Seja bem-vindo(a) ao 2Remember! <br><small>seu aplicativo de lembretes</small></h1>
    <p class="flow-text">
        Para começar a utilizar é simples: basta acessar o menu na aba de cadastro (ícone de relogio) e cadastrar seus lembretes! <br>
        Todos os lembretes cadastrados ficarão disponíveis na aba de visualização (ícone de lista) até seu horário limite, após esse período, todos os seus lembretes podem ser acessados através da aba histórico (ícone de calendário).
    </p>
</div>